/TERM_2/SEC/IR/MY_IR/IR_App/nbproject/private/
/TERM_2/SEC/IR/MY_IR/IR_App/build/
/TERM_2/SEC/IR/MY_IR/IR_App2/nbproject/private/
/TERM_2/SEC/IR/MY_IR/IR_App/dist/
*.mp4
*.mkv
/TERM_2/SEC/Gamming/My_Games/